<ul>
    {{burger_name}}

    {{#if devoured}}
        {{else}}
        <button class="waves-effect waves-light btn-small brown change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">get in my belly</button>
    {{/if}}
</ul>