<ul>
    {{burger_name}}

    {{#if devoured}}
        {{else}}
        <button class="waves-effect waves-light btn change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">devour</button>
    {{/if}}
</ul>