<ul>
    {{burger_name}}

    {{#if devoured}}
        {{else}}
        <button id="devour-btn" class="waves-effect waves-light btn devour-btn" data-id="{{id}}" data-newdevour="{{devour}}">devour</button>
    {{/if}}
</ul>