<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Burgers</title>

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    {{!-- jQuery link --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- External JS --}}
    <script src="/assets/js/burgers.js"></script>

    {{!-- External CSS --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

    {{!-- Materialize Icon Link --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- Mobile Friendly --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
    
    {{{ body }}}

</body>

</html>