<div class="container-fluid">
    <img src="/assets/img/burger.jpg" width="100%" height="350px" id="burger-photo">
    <div class="centered">Home of Make a Burger, Eat a Burger</div>
</div>
    
    <div class="container">
        <div class="row">
            <div class="col s6 center-align">
            <p class="to-eat">Fresh Burgers</p>
            {{!-- burgers that have not been devoured --}}
                <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burger-block devour=false }}
                    {{/unless}}
                {{/each}}
                </ul>
            </div>

            <div class="col s6 center-align">
            <p class="eaten">Eaten Burgers</p>
            {{!-- when a burger has been devoured, put burger here --}}
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            {{> burger-block devour=true }}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>            
        </div>

    <br>
    <br>

    <div class="row">
        <form class="col s12" id="create-burger">
            <div class="input-field">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">build your own burger here</label>
                <button type="submit" class="waves-effect waves-light brown btn-small">add burger</button>
            </div>
        </form>
    </div>

    </div>

<br>
<br>

    <footer class="footer">
        <div class="footer-copyright">
            <div class="container">
                <div class="center-align">© 2020 Copyright joditivis</div>
                <div class="center-align"><a class="github-link" href="https://github.com/joditivis">GitHub</a></div>
            </div>
        </div>
    </footer>

{{!-- Materialize JS for text area --}}
<script>
    $('#textarea1').val();
    M.textareaAutoResize($('#textarea1'));
</script>