<h2 class="center-align">Make Burgers</h2>

    <br>

    <div class="container">
        <div class="row">
            <div class="col s6 center-align">
            <p class="to-eat">To be eaten:</p>
            {{!-- burgers that have not been devoured --}}
                <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burger-block devour=false }}
                    {{/unless}}
                {{/each}}
                </ul>
            </div>

            <div class="col s6 center-align">
            <p class="eaten">Eaten:</p>
            {{!-- when a burger has been devoured, put burger here --}}
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            {{> burger-block devour=true }}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>            
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <form class="col s12" id="create-burger">
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">build your own burger here</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Add Burger</button>
        </form>
    </div>

{{!-- Materialize JS for text area --}}
<script>
    $('#textarea1').val();
    M.textareaAutoResize($('#textarea1'));
</script>