<h1>Burgers!</h1>

<h2>Burgers to eat!</h2>

<ul>
    {{#each burgers}}
        {{ this.burger_name }}
    {{/each}}
</ul>

<h2>You're eating a lot of burgers..</h2>

<ul>
    {{#each burgers}}
        {{ this.burger_name }}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burger-name">Burger Name:</label>
        <input type="text" name="name" id="burger-name">
    </div>

    <button type="submit">Add Burger</button>
</form>